
<div style="width: 480px;margin-top: 130px; margin-left: 400px;">
  <div class="card">
    <h4 class="card-header text-info">Login</h4>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row">
            <label class="col-md-4">Name</label>
            <div class="col-md-8">
              <input class="form-control" type="text" name="name">
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group row">
            <label class="col-md-4">Password</label>
            <div class="col-md-8">
              <input class="form-control" type="text" name="pass">
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="text-right"><button class="btn btn-primary">Login</button></div>
        </div>
      </div>
    </div>
  </div>
</div>